RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.nocountry.studio [NC]
RewriteRule ^(.*)$ http://nocountry.studio/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]