/* GRID
======= */

.grid {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
}

@media (min-width: 1px) and (max-width: 767px) {
    .grid > [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .hide-mob {
        display: none;
    }

    .about {
        padding-top: 5px;
    }

    h3 {
        margin-bottom: 0px;
    }

    p {
        margin-block-start: 0.5rem;
    }
}

@media (min-width: 768px) {

    /* Columns
    =========================================== */

    .grid > [class^="col-"] {
        float: left;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 2%;
    }

    .grid > [class^="col-"]:first-child {
        margin-left: 0;
    }

    .grid > [class^="col-"]:last-child {
        float: right;
    }

    /* Columns are 65px with 20px gutters
    =========================================== */

    .col-1 {
        width: 6.5%;
    }

    .col-2 {
        width: 15%;
    }

    .col-3 {
        width: 23.5%;
    }

    .col-4 {
        width: 32%;
    }

    .col-5 {
        width: 40.5%;
    }

    .col-6 {
        width: 49%;
    }

    .col-7 {
        width: 57.5%;
    }

    .col-8 {
        width: 66%;
    }

    .col-9 {
        width: 74.5%;
    }

    .col-10 {
        width: 83%;
    }

    .col-11 {
        width: 91.5%;
    }

    .col-12 {
        width: 100%;
    }

    /* Clearfix
    =========================================== */

    .grid:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1200px) {
    .grid {
        max-width: 1000px;
    }
}

/* WEBSITE
======= */

body {
    background-color: #0E0E0E;
}

body.gist {
    background-color: #fff;
}

@font-face {
   font-family: 'Pitch-regular';
   src: url('/assets/fonts/pitch-regular.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}
 
@font-face {
   font-family: 'Pitch-bold';
   src: url('/assets/fonts/pitch-bold.woff2') format('woff2');
   font-weight: normal;
   font-style: bold;
}

@font-face {
   font-family: 'Pitch-regular-italic';
   src: url('/assets/fonts/pitch-regular-italic.woff2') format('woff2');
   font-weight: normal;
   font-style: italic;
}

h1 {
  all: unset;
  display: inline;
}

h2 {
    font-family: Pitch-regular;
    font-size: 1.4rem;
    font-weight: normal;
    color: #EEE;
    margin-top: -15px;
}

h3 {
    font-family: Pitch-bold;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: #EEE;
}

p, form, ul, ol, li {
    font-family: Pitch-regular;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: #EEE;
}

strong {
    font-family: Pitch-bold;
    font-weight: normal;
}

em {
    font-family: Pitch-regular-italic;
}

h1.gist {
    display: block;
    font-family: Pitch-regular;
    font-size: 1.4rem;
    font-weight: normal;
    color: #0E0E0E;
    margin-top: -15px;

}

h2.gist {
    color: #0E0E0E;
    margin-bottom: -5px;
}

h2.letter {
    color: #0E0E0E;
    margin-top: 50px;
    margin-bottom: -5px;
}

h3.gist, p.gist, form.gist, ul.gist, li.gist {
    color: #0E0E0E;
}

p.line {
    margin-top: 25px;
}

.logo {
    max-width: 300px;
    margin: 50px 0 25px;
}

.logo-gist {
    max-width: 100px;
    margin: 50px 0 50px;
}

.text {
    padding-bottom: 10px;
}

.footer {
    color: #383838;
 }

 .footer-gist {
    color: #D0D0D0;
 }

a { 
    color: #EEE;
    text-decoration: underline;
}

a.gist {
    color: #0E0E0E;
}

a.home {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

blockquote {
   padding: 0em;
   margin-left: 40px;
   background: transparent;
}

input {
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333;
}

input[type="submit"] {
    background: none;
    border: none;
    text-decoration: underline;
}

input[type="submit"]:hover {
    text-decoration: none;
}

input[type="email"]:focus {
    outline: none;
}

@media (min-width: 768px) {
    .main {
        display: inline-block;
        width: 100%;
    }

    .header {
        text-align: center;
        margin-top: 100px;
    }

    .body {
        position: relative;
        margin-top: 50px;
        left: 32.5%;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }
}